
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "contact";
}





<!DOCTYPE html>
<html lang="en">
<head>
    @System.Web.Optimization.Styles.Render("~/bundles/contact/css")
    @System.Web.Optimization.Styles.Render("~/bundles/contactresponsive/css")
</head>
<body>

    <div class="super_container">
        <div class="home">

        </div>

        @Html.Partial("_ContactMap")
        @Html.Partial("_Footer")

    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/instructors/js")
</body>
</html>