
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "coursesingle";
}


<!DOCTYPE html>
<html lang="en">
<head>
    @System.Web.Optimization.Styles.Render("~/bundles/course/css")
    @System.Web.Optimization.Styles.Render("~/bundles/courseresponsive/css")
</head>
<body>

    <div class="super_container">
        <!-- Home -->

        <div class="home">
            <div class="breadcrumbs_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="breadcrumbs_list d-flex flex-row align-items-center justify-content-start">
                                <li><a href="index.html">home</a></li>
                                <li><a href="courses.html">courses</a></li>
                                <li><a href="courses.html">spanish</a></li>
                                <li>vocabulary</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_LanguageChoose")
        @Html.Partial("_Intro")
        @Html.Partial("_CourseSing")
        @Html.Partial("_Footer")

    </div>

    @System.Web.Optimization.Scripts.Render("~/bundles/course/js")
</body>
</html>