
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "instructors";
}
<head>

    <title>Instructors</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Lingua project">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @System.Web.Optimization.Styles.Render("~/bundles/instructors/css")
    @System.Web.Optimization.Styles.Render("~/bundles/instructorsresponsive/css")
</head>
<html>

<body>

    <div class="super_container">
        <div class="home">

        </div>
        @Html.Partial("_Video")
        @Html.Partial("_Instructors")
        @Html.Partial("_TopTeachers")
        @Html.Partial("_Footer")

    </div>


</body>
</html>