@using System.Web.Optimization
@model eUseControl.Web.Models.UserData
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "instructors";
}
<head>

    @Styles.Render("~/bundles/instructors/css")
    @Styles.Render("~/bundles/instructorsresponsive/css")
</head>
<html>

<body>

    <div class="super_container">
        <div class="home">

        </div>
        @Html.Partial("_Video")
        @Html.Partial("_InstructorsList")
        @Html.Partial("_TopTeachers")


    </div>


</body>
</html>