@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eUseSystem | @ViewBag.Title</title>

    @Styles.Render("~/bundles/fontawesome/css")
    @Styles.Render("~/bundles/bootstrap/css")
    @Styles.Render("~/bundles/owlCarousel/css")
    @Styles.Render("~/bundles/owlCarouselTheme/css")
    @Styles.Render("~/bundles/owlCarouselAnimate/css")
    @Styles.Render("~/bundles/mainstyles/css")
    @Styles.Render("~/bundles/responsive/css")
    @Styles.Render("~/bundles/videojs/css")
    @Styles.Render("~/bundles/blog/css")
    @Styles.Render("~/bundles/blogresponsive/css")

    @Scripts.Render("~/bundles/jquery/js")

 
</head>
<body>
    <div class="super_container">
        <header class="header">
            @Html.Partial("_Header")
        </header>

        <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
            @Html.Partial("_Menu")
        </div>

        @RenderBody()



        @Html.Partial("_Footer")

       
        @Scripts.Render("~/bundles/popper/js")
        @Scripts.Render("~/bundles/bootstrap/js")
        @Scripts.Render("~/bundles/owlcarousel/js")
        @Scripts.Render("~/bundles/easing/js")
        @Scripts.Render("~/bundles/parallax/js")

        <!--   Handler for local scripts -->

        @RenderSection("scripts", required: false)

    </div>

</body>
</html>