using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Web.Optimization;

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lingua</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Lingua project">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @System.Web.Optimization.Styles.Render("~/bundles/fontawesome/css")
    @System.Web.Optimization.Styles.Render("~/bundles/bootstrap/css")
    @System.Web.Optimization.Styles.Render("~/bundles/owlCarousel/css")
    @System.Web.Optimization.Styles.Render("~/bundles/owlCarouselTheme/css")
    @System.Web.Optimization.Styles.Render("~/bundles/owlCarouselAnimate/css")
    @System.Web.Optimization.Styles.Render("~/bundles/mainstyles/css")
    @System.Web.Optimization.Styles.Render("~/bundles/responsive/css")

</head>
<body>
    @Html.Partial("_Header")
    @Html.Partial("_Menu")
    @Html.Partial("_Home")
    @Html.Partial("_LanguageChoose")
    @Html.Partial("_CoursesList")
    @Html.Partial("_InstructorsList")
    @Html.Partial("_RegisterForm")
    @Html.Partial("_UpcomingEvents")
    @Html.Partial("_OurBlog")
    @Html.Partial("_Footer")
    @RenderBody()


    @System.Web.Optimization.Scripts.Render("~/bundles/jquery/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/popper/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/owlcarousel/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/easing/js")
    @System.Web.Optimization.Scripts.Render("~/bundles/custom/js")


    

</body>
</html>